.titulo-biografia{
    text-align: center;
}

.biografia{
color: $blanco;
margin: 10px;

}

.img-biografia1{
    width: 400px;
    height: 400px;
    
}

.texto-biografia-1{
    text-align: center;
    align-items: center;
    font-size: 1.3rem;
}


.img-biografia2{
    width: 380px;
    height: 280px;
    
}
