.titulo-biografia{
    text-align: center;
    padding-top: 50px; 
}

.biografia{
color: $blanco;
margin: 10px;
}



.row{
    .img-b1{
        width: 350px;
        height: 350px;
    }
    .img_align{
        text-align: center;
        padding:50px 0 ;
    }
    .text-b{
        font-size: 1.3rem; 
    }
    
}
