.row{
    margin-top: 100px;
    align-items: center;
        .img-discos{
        width: 500px;
        border: 3px solid $blanco;
        }
        .titulo-disco{
        text-align: left;
        margin-top: 50px;
        
        }  
            .canciones{
            list-style: none;
            padding: 0%;
            }
                li{
                padding: 5px;
                }

}        

.cd2_history{
    margin-top: 230px;
}



.titulo-disco-history{
    text-align: center;
}

.color1{
    background: red
    }
.color2{
    background: blue
}
.color3{
    background: aqua;
}


