@import url('https://fonts.googleapis.com/css2? family= Red+Hat+Display:wght@500 & display=swap');


*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: $blanco
}


header{
    position: sticky;
    top: 0;
    background-color: black;
    .navbar-collapse{
    justify-content: flex-end;
    }
        .nav-link{
            color: $blanco;
            font-size: 1.2rem;
        }

    
} 

/*Footer*/

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
       
}

.redes{
    display:flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
        li{
             margin: 0 10px;
            list-style: none;
            }
        a{
            text-decoration: none;
            color: #fff;
            border: 1.1px solid white;
            padding: 5px;
            border-radius: 50%;
            }
                i{
                    font-size: 1.1rem;
                    width: 20px;
                    transition: color .4s ease;
                    }
                
}

.redes a:hover i{
    color: rgba(187, 180, 180, 0.637);
}
