
div{
    a img{
    margin-left: 50px;
    height: 95px;
    width: 185px;
    }
}

.navbar-collapse{
    justify-content: end;
}

.tittles{
    text-align: center;
    h2{
        font-size: 2rem;
        margin-top: 70px;
        
    }
    h3{
        font-size: 3rem;
    }
    h1{
        font-size: 5rem;
        margin-bottom: 100px;
    }
}

h4{
    text-align: center;
    margin-top: 200px;
}


section{
      .videos{
        display: flex;
        justify-content: center;
        }

    
        .video{
            display: flex;
            justify-content: center;
            font-size: 1.5rem;
            }

                iframe{
                margin: 10px;
                padding: 50px;
                width: 700px;
                height: 800px;
            }
    
     
   

}

