
div{
    a img{
    margin-left: 50px;
    height: 95px;
    width: 185px;
    }
}

h1{
    font-size: 3rem;
    margin-top: 150px;
    margin-bottom: 150px;
        div{
            padding: 10px;
        }
        .h1-tittle{
            font-size: 6rem;
        }
}

h4{
    text-align: center;
    margin-bottom: 50px;
}

section{
      .videos{
        display: flex;
        justify-content: center;
        }

    
        .video{
            display: flex;
            justify-content: center;
            font-size: 1.5rem;
            }

            iframe{
                margin: 10px;
                padding: 50px;
                width: 700px;
                height: 800px;
            }
    
     
   

}

