/*TABLET*/
@media only screen and (max-width: 768px){}



/*mobile*/
@media only screen and (min-width: 577px) and (max-width: 768px) {

    /*INICIO*/
  
    .video{
        flex-direction: column;
        justify-content: center;
    }
    .video iframe{
        width: 570px;
        margin: 30px 0px;
        }

    div a img{
        
        margin-left: 50px;
        height: 95px;
        width: 185px;
        
    }

    /*DISCOGRAFIA*/

    .discografia-flex{
        flex-direction: column;
    }
    .discografia-flex2{
        flex-direction: column;

    }

   }
