
/*mobile*/
@media only screen and (min-width:201px) and (max-width: 978px) {

    /*INICIO*/
  
    .video{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .video iframe{
        width: 100%;
        margin: 30px 0px;
        }

    div a img{
        
        margin-left: 50px;
        height: 95px;
        width: 185px;
        
    }

    /*DISCOGRAFIA*/

    .discografia-flex{
        flex-direction: column;
    }
    .discografia-flex2{
        flex-direction: column;

    }

   }

  /* contacto*/

  @media screen and (max-width: 768px) {
    #container {
      margin: 20px auto;
      width: 95%;
    }
  }
  
  @media screen and (max-width: 480px) {
    h1 {
      font-size: 26px;
    }
    
    .underline {
      width: 68px;
    }
    
    #form_button {
      padding: 15px 25px;
    }
  }
  
  @media screen and (max-width: 420px) {
    h1 {
      font-size: 18px;
    }
    
    .icon {
      height: 35px;
      width: 35px;
    }
    
    .underline {
      width: 53px;
    }
    
    input[type='text'], [type='email'], select, textarea {
      font-size: 0.875em;
    }
  }
  